// Imports
@use "../vars/colors" as colors;
@use "../vars/fonts" as fonts;
@use "../components/table" as table;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.contenedor_general {
  display: grid;
  gap: 5px;
  box-shadow: none;

  // Estilos para el contenedor de filtros
  .contenedor_list_filtros {
    display: grid;

    .contenedor_list {
        display: none;
    }

    @media (max-width: 700px) {
        .contenedor_list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 20px;
            border-radius: 10px;
            background-color: rgba(colors.$gray, 0.2);
            cursor: pointer;

            .text_list {
                font-weight: bold;
                color: rgba(colors.$black, 0.7);

                @media (max-width: 500px) {
                    font-size: fonts.$icon-size;
                }
            }

            .icon_list {
                display: grid;
                align-items: center;
                text-align: right;
                color: rgba(colors.$black, 0.7);

                i {
                    font-size: fonts.$icon-size;
                }
            }
        }
    }

    .contenedor_filtros {
        display: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 0px;
        }

        @media (max-width: 700px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
        }

        .mat-form-field.mat-focused {
            display: grid;
        }

        .input {
            width: 95%;
        }
    }
}

.contenedor_acciones_tabla {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @media (max-width: 700px) {
      grid-template-columns: 1fr;
      padding-top: 10px;
  }

  .contenedor_botones {
      display: flex;
      gap: 10px;

      @media (max-width: 700px) {
          justify-content: center;

          .btn_filtro {
              display: none;
          }
      }

      .icon-charge {
          img {
              width: 30px;
          }
      }
  }

  .contenedor_buscador {
      display: grid;

      div {
          form {
              position: relative;
              display: grid;

              .input {
                  padding-right: 40px;
              }

              i {
                  position: absolute;
                  display: grid;
                  right: 10px;
                  font-size: 25px;
                  color: rgba(colors.$black, 0.4);
                  transform: translate(0%, 50%);
              }
          }
      }
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #40456c;
  border-color: #40456c;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #101010;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}


  // TODO: Estado activo
  .sidebar_active_content_acciones_tabla {
    @media (max-width: 860px) {
      grid-template-columns: 1fr;

      .contenedor_botones {
        justify-content: center;
      }
    }
  }

  // Estilos para el contenedor de la tabla
  $tamañoTabla: 535px;
  $tamañoTabla620: $tamañoTabla + 100px;
  .contenedor_tabla {
    max-height: $tamañoTabla;
    min-height: $tamañoTabla;

    @media (max-width: 620px) {
      max-height: $tamañoTabla620;
      min-height: $tamañoTabla620;
    }

    @media (max-width: 460px) {
      max-height: $tamañoTabla620;
      min-height: $tamañoTabla620;
    }

    .table-container div{
      height: $tamañoTabla - 555px;

      @media (max-width: 620px) {
        height: $tamañoTabla620 - (50px * 2);
      }

      @media (max-width: 450px) {
        height: $tamañoTabla620 - (50px * 3);
      }

      table {
        .mat-mdc-row {
          height: 5px;
        }


        td {

          height: 30px;
          border: 0.5px solid rgba(240, 240, 240, 10);
        }

      }

    }
  }


  .contenedor_tabla {
    display: grid;
    border-radius: 5px;
    border: 1px solid rgba(colors.$gray, 0.3);
    overflow-x: auto;
  
    .table-container div {
    /*   overflow-x: auto; */
      box-shadow: none !important;
  
      table {
        width: 100%;
        box-shadow: none !important;
  
        td,
        th {
          width: 200px;
          min-width: 150px;
          font-size: fonts.$form-input;
        }
  
        th {
          position: sticky;
          font-size: fonts.$text-p;
          font-weight: bold;
          top: 0;
          background: linear-gradient(to bottom, colors.$white, colors.$white),
          linear-gradient(to bottom, rgba(colors.$primary, 0.3), rgba(colors.$primary, 0.2));
          background-blend-mode: multiply;
        }
  
        // Head
        .mat-mdc-header-row {
          height: 40px;
        }
  
        // Body
        .mat-mdc-row {
          transition: all 0.1s;
          &:hover {
            background-color: rgba(colors.$primary, .05);
          }
        }
      }
    }
  
    .paginator-container {
      display: grid;
      align-items: end;
      height: 56px;
  
      ::ng-deep .mat-mdc-paginator-container {
        @media (max-width: 620px) {
          align-items: center;
          justify-content: center;
          justify-items: center;
        }
  
        @media (max-width: 455px) {
          margin-top: -25px;
        }
  
        .mat-mdc-paginator-range-actions {
          @media (max-width: 620px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
  
            div {
              grid-column: 1 / -1;
            }
          }
        }
      }
  
      // Eliminar texto de numero de filtro en tabla
      ::ng-deep .mat-mdc-paginator-page-size-label {
        display: none;
      }
    }
  }
  

  // Eliminar margin del dialog
  ::ng-deep .p-dialog {
    margin: 0 !important;
  }

  ::ng-deep .p-dialog-draggable {
    .p-dialog-header {
      margin: 0 !important;
      height: 25px;
      padding: 5px 10px;
      padding-left: 20px;
      border-radius: 5px 5px 0px 0px;
      color: colors.$white;
      background-color: colors.$primary;

      .p-dialog-title {
        font-size: fonts.$dialog-header-title;
      }

      .p-dialog-header-icon {
        color: colors.$white;
        transform: scale(0.7);

        &:hover {
          color: colors.$primary;
        }
      }
    }

    .p-dialog-content {
      padding: 10px;
      border: 3px solid colors.$primary;

      .contenedor_filtro {
        .input {
          width: 95%;
        }
      }
    }
  }
}

