@use 'vars/colors' as colors;
@use 'vars/fonts' as fonts;
@use "components/input";
@use "components/buttons";
@use "components/menu_nav";


@use "Contenedores/home.component";
@use "components/scroll";
@use "Contenedores/history-note.component";

@use "components/table" as table;

@use "menu-profile/menu-profile.component";
@use "sidebar/sidebar.component";
@use "navbar/navbar";
@use "module/module.scss";
@use "navbar/app.component";
@use "deshboard/dashboard.component.scss";
@use "tabla/tabla_filtros";
@use "Contenedores/load-periods.component.scss";


// ===============================================
// Estilos para fontawesome



*:not(i) {
  font-family: fonts.$font-primary;
}
// ===============================================
// Estilos para sweedAlert2
// ===============================================
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

div:where(.swal2-icon) {
  margin: 0 auto 0em !important;
  transform: scale(0.5) !important;
}

// Contenedor
div:where(.swal2-container) div:where(.swal2-popup) {
  padding: 1.5em 0 1.25em !important;
  transform: scale(0.8) !important;
}

// Titulo
div:where(.swal2-container) h2:where(.swal2-title) {
  padding: 0px !important;
}

// ===============================================
// Estilos generales
// ===============================================
html,
body {
  padding: 0;
  user-select: none;
}

body {
  background-color: colors.$bg;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
//Quitar scroll de la pante superior de la vista
 body {
  overflow-x: hidden;
}

/* .content-views {
  margin-left: 20px; //Igual al ancho del sidebar
} */
// Campos requeridos
.contenedor_campo_requerido {
  font-size: 9px;
  color: var(--red);
}

// Cerrar sesion
.logout {
  cursor: pointer;

  &:hover {
    color: var(--red) !important;
  }
}
    // Divisor
  /*   .divisor-title {
      height: 3px;
      margin-bottom: 15px;
      border-radius: 50px;
      background-color: colors.$primary;
      width: calc(8px * var(--title-length, 0));
    } */
    .sidebar a {
      padding: 1px 3px;
            /* Espaciado de los enlaces */
      text-decoration: none;
      /* Quitar subrayado de los enlaces */
      font-size: 14px;
      /* Tamaño de fuente de los enlaces */
      color: #000000;
      /* Texto blanco */
      display: flex;
      /* Mostrar como flex para alinear icono y texto */
      align-items: center;
      /* Centrar verticalmente el contenido */
  }
  .sidebar a .material-icons {
    margin-right: 10px;
    /* Espaciado a la derecha del icono */
}

/* .sidebar a:hover {
    background-color: #55595e;
    color: #ffffff;

} */
/* Estilo para el texto encima de la imagen */


.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  /* Asegurarse de que el submenú tenga un índice z mayor que las opciones del menú principal */
}


/* Estilo para las opciones del submenu */
.dropdown-menu {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 0;
}

/* Estilo personalizado para las opciones del submenu */
.dropdown-item {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
}

/* Estilo personalizado al pasar el cursor sobre las opciones del submenu */
.dropdown-item:hover {
  background-color: #ffff;
}

// ===============================================
// Estilos generales
// ===============================================
*,
*::after,
*::before {
  padding: auto;
  user-select: none;
}

*:not(i) {
  font-family: fonts.$font-primary;
}

body {
  margin: 0;
}

h1 { font-size: fonts.$title-text-h1; }
h2 { font-size: fonts.$title-text-h2; }
h3 { font-size: fonts.$title-text-h3; }
h4 { font-size: fonts.$title-text-h4; }
h5 { font-size: fonts.$title-text-h5; }
h6 { font-size: fonts.$title-text-h6; }
p { font-size: fonts.$text-p; }

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
  h1 { font-size: fonts.$title-text-h1-tablet; }
  h2 { font-size: fonts.$title-text-h2-tablet; }
  h3 { font-size: fonts.$title-text-h3-tablet; }
  h4 { font-size: fonts.$title-text-h4-tablet; }
  h5 { font-size: fonts.$title-text-h5-tablet; }
  h6 { font-size: fonts.$title-text-h6-tablet; }
  p { font-size: fonts.$text-p-tablet; }
}

// Telefono
@media (max-width: 767px) {
  h1 { font-size: fonts.$title-text-h1-phone; }
  h2 { font-size: fonts.$title-text-h2-phone; }
  h3 { font-size: fonts.$title-text-h3-phone; }
  h4 { font-size: fonts.$title-text-h4-phone; }
  h5 { font-size: fonts.$title-text-h5-phone; }
  h6 { font-size: fonts.$title-text-h6-phone; }
  p { font-size: fonts.$text-p-phone; }
}

// Incluir la seleccion del elemento de tabla
table tbody * {
  user-select: text;
}

i {
  pointer-events: none;
}

// Contenedor de validaciones
.contenedor_campo_requerido {
  font-size: fonts.$form-requiered;
  color: var(--red);
}

// Campo requerido
.requerido {
  color: var(--red);
}

// Icono de informacion
.info-icon {
  font-size: fonts.$form-label;
  margin-left: 5px;
  color: colors.$gray;
  cursor: pointer;
}

// Contenido de tooltip
.info_content {
  font-size: fonts.$form-requiered + 0.2em;
}

// Notas
.nota {
  font-size: fonts.$form-requiered + 0.1em;
  color: var(--blue);
  text-shadow: .1px .1px 1px rgba(colors.$black, .5);
}

// Divider
hr {
  width: 100%;
  color: colors.$primary;
}

// Cambiar modulo
.change_module {
  cursor: pointer;

  &:hover {
    color: colors.$primary !important;
  }
}

// Cerrar sesion
.logout {
  cursor: pointer;

  &:hover {
    color: var(--red) !important;
  }
}

// Overlide
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(colors.$black, 0.5);
  z-index: 1000;
  transition: all 0.3s;
}

.tamanio1{
  .form-control{
    height: auto !important;
    font-size: 0.7rem !important;
  }
}

.btn_color{
  text-decoration: underline !important;
  :hover{
    color:white;
    text-decoration: none !important;
  }
}

.button5 {
  /* height: 20px; */
  padding: 9px;
  letter-spacing: 1.15px;
  font-weight: 700;
  font-size: 0.75em;
  color: var(--white);
  background-color: #40456c;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px #d1d9e6, -2px -2px 5px #f9f9f9;
  transition: all 0.3s ease-in;
  width: 120px;
  border-radius: 10px;
}
