@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

.sidebar a .material-icons {
    margin-right: 10px;
    /* Espaciado a la derecha del icono */
}

/* Estilo para las filas cuando no se está pasando el cursor */
tr:hover {
    background-color: #f5f5f5;
    /* Cambia el color de fondo cuando se pasa el cursor */
}

/* Estilo para el botón "Cerrar Sesión" */
.logout-btn {
    color: #000000;
    /* Texto blanco */
    border: none;
    /* Sin bordes */
    width: 100%;
    /* Ancho del 100% */
    position: absolute;
    /* Posición absoluta */
    bottom: 0;
    /* Alinear en la parte inferior */
}

.logout-btn:hover {
    background-color: #ffff;
    /* Cambia el color de fondo al pasar el cursor */
}

/* Estilo personalizado para el logo y el nombre */
.navbar-brand {
    color: #000000;
    /* Texto blanco */
    font-size: 1.5rem;
    /* Tamaño de fuente */
    font-weight: bold;
    display: flex;
    align-items: center;
    /* Centrar verticalmente el contenido */
}

.navbar-brand img {
    max-height: 30px;
    /* Altura máxima del logo */
    margin-right: 10px;
    /* Añade un margen a la derecha del logo */
}


/* Estilo para la imagen circular del logo */
.logo-image {
    width: 150px;
    height: 50px;
}

/* Estilo para el texto encima de la imagen */


.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    /* Asegurarse de que el submenú tenga un índice z mayor que las opciones del menú principal */
}


/* Estilo para las opciones del submenu */
.dropdown-menu {
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
}

/* Estilo personalizado para las opciones del submenu */
.dropdown-item {
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
}

/* Estilo personalizado al pasar el cursor sobre las opciones del submenu */
.dropdown-item:hover {
    background-color: #ffff;
}

.sidebar-links {
    margin-top: 80px;
    z-index: 1;
}

.sidebar-links a.active {
    background-color: #55595e;
    color: #ffffff;
}

.dropdown:hover .content {
    min-height: calc(100vh - 220px);
    /* Ajusta la altura mínima cuando el submenú está abierto */
}

.config-links {
    color: #000000;
    display: flex;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    position: absolute;
    top: 10px;
    font-size: 5px;
    right: 10px;
    z-index: 3;

}

.config-link {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
}

/* Estilos para el contenedor del menú desplegable */
.popup-menu-container {
    display: none;
    /* Por defecto, el menú está oculto */
    position: absolute;
    /* Posición absoluta para que esté sobre el resto del contenido */
    top: 100%;
    /* Coloca el menú debajo del botón de perfil */
    right: 0;
    /* Alinea el menú a la derecha del botón */
    background-color: #fff;
    /* Fondo blanco */
    border: 1px solid #ccc;
    /* Borde del menú */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra */
    z-index: 1000;
    /* Asegura que el menú esté por encima del resto del contenido */
}

/* Estilos para el menú desplegable cuando está activo */
.popup-menu-container.active {
    display: block;
    /* Muestra el menú */
}

/* Estilos para los enlaces del menú */
.popup-menu-container a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    /* Color del texto */
}

.popup-menu-container a:hover {
    background-color: #f0f0f0;
    /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el botón de perfil */
.profile-icon {
    position: relative;
    /* Posición relativa para alinear correctamente el menú desplegable */
}

.pagination {
    background-color: #eaf5ff;
    padding: 10px;
    border-radius: 5px;
}


/* Establecer el ancho del sidebar */
.content-sidebar {
    width: 280px;
    /* Puedes ajustar este valor según tus necesidades */
    float: left;
    /* Alinear a la izquierda */
}

/* Limpiar flotantes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.acciones-container {
    display: flex;
    gap: 4px; /* Espacio entre los botones */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.acciones-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; /* Ajusta el padding según sea necesario */
    border: none;
    background: none;
    cursor: pointer;
}

.acciones-container button i {
    font-size: 16px; /* Ajusta el tamaño del icono según sea necesario */
}
.table1, .table1 td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    text-align: center;
}

.draggable-card {
    width: 400px;
    border: 3px solid #40456c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    position: fixed; /* Changed from absolute to fixed */
    z-index: 1000;
    padding: 0;
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 15%;
    left: 40%;/* Adjust as necessary to avoid other elements */
}
.draggable-card1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    border: 3px solid #40456c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgb(190, 85, 85);
    z-index: 1000;
    padding: 20;
    border-radius: 10px;

}
.draggable-card1_1 {
    width: 830px;
    border: 3px solid #40456c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    position: fixed; /* Changed from absolute to fixed */
    z-index: 1000;
    padding: 0;
    display: none; /* Oculto por defecto */
    top: 100px; /* Adjusted top position to avoid the top navigation bar */
    left: 50px; /* Adjust as necessary to avoid other elements */
}
/* Estilos para el card de filtros */
.draggable-card1_2 {
    width: 250px;
    border: 3px solid #40456c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    position: fixed; /* Fixed positioning */
    z-index: 1000;
    padding: 0;
    display: none; /* Oculto por defecto */
    top: 100px; /* Adjusted top position to avoid the top navigation bar */
    left: 50px; /* Adjust as necessary to avoid other elements */
}
.draggable-card1_4 {
    width: 330px;
    border: 3px solid #40456c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    position: fixed; /* Fixed positioning */
    z-index: 1000;
    padding: 0;
    display: none; /* Oculto por defecto */
    top: 100px; /* Adjusted top position to avoid the top navigation bar */
    left: 50px; /* Adjust as necessary to avoid other elements */
}
.draggable-card1_3 {
    width: 730px;
    border: 3px solid #40456c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    position: fixed; /* Changed from absolute to fixed */
    z-index: 1000;
    padding: 0;
    display: none; /* Oculto por defecto */
    top: 100px; /* Adjusted top position to avoid the top navigation bar */
    left: 50px; /* Adjust as necessary to avoid other elements */
}
.card-header {
    background-color: #40456c;
    color: white;
    padding: 10px;
    cursor: move;
    border-radius: 5px 5px 0 0;
}
.card-header1 {
    background-color: #aeafb4b4;
    color: white;
    padding: 10px;
    cursor: move;
    border-radius: 5px 8px 0 0 #aeafb4b4;
}
.card-body {
    padding: 15px;
}
.card-footer {
    padding: 10px;
    border-top: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
}
.card-footer1 {
    padding: 10px;
    border-top: 1px solid #e9ecef;
    justify-content: left;
}
.close {
    color: white;
    font-size: 1.5rem;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: .7 !important;
}
.form-control {
    border-radius: 0.25rem;
    box-shadow: none;
    border: 1px solid #40456c75;
    padding: 0.375rem 0.75rem;
    color: #495057d5 !important;
}
.input_select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #40456c;
    border-radius: 0.25rem;
}
.button {
    background-color: #40456c;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #2c3e50;
}
.input_select1 {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #40456c;
    border-radius: 0.25rem;
    font-size: 0.7rem !important; /* Increase font size for select */
}
.remove-icon {
    cursor: pointer;
    color: red;
    font-size: 10px;
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.input_file {
    position: relative;
    display: flex;
    align-items: center;
}


.label {
    font-size: 0.7rem !important; /* Increase font size for label */
}
@media (max-width: 768px) {
    .draggable-card {
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .card-header, .card-body, .card-footer {
        padding: 10px;
    }
    .card-title {
        font-size: 16px;
    }
}

.draggable-card .card-header,
.draggable-card1_2 .card-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


/* Estilos personalizados para los checkboxes en Select2 */
.select2-container--default .select2-selection--multiple {
    background-color: #ecf0f3!important;
    border: none #000 !important;
    border-radius: 4px;
    min-height: 40px !important;
    min-width: 100% !important;
    cursor: text;}
/* Estilos personalizados para los checkboxes en Select2 */
.styled-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ecf0f3;
    border: 1px solid #d1d3e6;
    border-radius: 3px;
    height: 16px;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    box-shadow:
        inset 2px 2px 4px #d1d9e6,
        inset -2px -2px 4px #f9f9f9;
    transition: 0.25s ease;
}
.styled-checkbox:checked {
    background-color: #40456c;
    border-color: #40456c;
}
.styled-checkbox:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
/* Ajuste de estilo para Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #40456c;
    border: 1px solid #40456c;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin: 2px;
    position: none !important;
    font-size: 0.875rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: none;
    left: 0;
    top: 0;
}

.select2-container .select2-selection--multiple {
    border: 1px solid #d1d3e6;
    border-radius: 8px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background-color: #ecf0f3;
    box-shadow:
        inset 2px 2px 4px #d1d3e6,
        inset -2px -2px 4px #f9f9f9;
    transition: 0.25s ease;
    min-height: 40px; /* Ajusta la altura mínima */
    max-height: 100px; /* Ajusta la altura máxima */
    width: 100%; /* Asegura que el select tome el ancho completo del contenedor */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    box-sizing: border-box;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    flex-wrap: wrap;
    padding: 0.375rem 0.75rem;
    min-height: 40px; /* Ajusta la altura mínima */
}
.select2-container--default .select2-selection--multiple .select2-search--inline {
    float: none;
}
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: 100% !important;
    max-width: 100% !important;
    white-space: nowrap;
    height: auto !important;
    line-height: 1.5rem !important;
    padding: 0.375rem 0.75rem !important;
    background-color: #ecf0f3 !important;
    border: none !important;
    font-size: 70% !important;
}
.select2-container {
    width: 100% !important; /* Asegura que el contenedor de select2 tome el ancho completo */
}
.select2-selection {
    width: 100% !important; /* Asegura que el select2 tome el ancho completo */
}
.small, small {
    font-size: 60% !important;
    font-weight: 400;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #878b91;
    color: white;
}
.select2-results__option {
    padding: 3px 6px;
    font-size: 12px !important;
}
.contenedor_alerta {
    display: flex !important; /* Fuerza el uso de flex */
    align-items: center;
    justify-content: space-between;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 15px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 60px !important;
    right: 0px !important;
    z-index: 1000 ;

    max-width: none !important;
}

.contenedor_alerta .icon_alert {
    margin-right: 10px;
    font-size: 24px;
}

.contenedor_alerta .content_alert {
    flex: 1;
}

.contenedor_alerta .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.contenedor_alerta .icon_remove button {
    background: none;
    border: none;
    color: #3c763d;
    font-size: 24px;
    cursor: pointer;
}

.contenedor_alerta .icon_remove button:hover {
    color: #2b542c;
}

.contenedor_alerta .body {
    word-wrap: break-word;
}

.contenedor_alerta .content_alert {
    display: grid;
 gap: 0px !important;
    width: 100%;
}
.noExisteRegistro1 {
    font-size: 12px;
    text-align: center;
    height: 40%;
    align-content: space-around;
    color: #808080;
  }
  .button4 {
    width: none !important
  }

        .tamanio {
          width: 90px;
          min-width: 370px;
          padding: .3rem !important;
        }
        .tamanio12 {
          width: 90px;
          min-width: 220px;
          padding: .3rem !important;
        }

        .tamanio2 {
          width: 30px;
          min-width: 100px;
          padding: .3rem !important;
        }
