.table th {
    width: 20%;
    border: 1px solid #70a1ff;
    background-color: #eaf5ff;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table td,
.custom-table tr {
    border: 1px solid #70a1ff;
    padding: 8px;
}

body,
input,
select,
th,
td,
label,
button {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;

}
/* CSS */
.custom-form {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
}

.form-column {
    flex: 1; /* Ocupa el espacio disponible */
    margin-right: 20px; /* Espacio entre las columnas */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre los grupos de campos */
}

.button.text-center {
    margin: 3px auto; /* Centro el botón horizontalmente */
    display: block; /* Asegura que el botón ocupe todo el ancho disponible */
}